scrapy>=2.11.0
selenium>=4.18.1
beautifulsoup4>=4.12.3
webdriver-manager>=4.0.1
requests>=2.31.0
python-dotenv>=1.0.1
scrapy-splash>=0.9.0
splash>=3.5
lxml>=4.9.3
twisted>=22.10.0
service_identity>=23.1.0