@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F6FA;
    --foreground: #ededed;
  }
}

@theme {
  --color-red-10: #D12620;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Ropa Sans", sans-serif;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}